# -*- coding: utf-8 -*-
'''
Copyright © 2017, ACM@UIUC
GPU Cluster Project is open source software, released under the University of
Illinois/NCSA Open Source License.  You should have received a copy of
this license in a file with the distribution.
'''

'''
This is a template file, please duplicate this file and 
fill in the fields with your keys

NEVER COMMIT YOUR API KEYS IN GIT (config.py will be ignored by git)
'''

config = {
    "groot_token" : "MY CONSUMER KEY",
}